/*===============================================
    STLYE
===============================================*/

html {
    font-family: sans-serif;
    font-size: 60%;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(6, 27, 136);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}


.text-center {
    text-align: center;
}

.navbar {
    height: 105;
    max-height: 340px;
    display: block;
}

.clearfix:after,
.container:after,
.navbar:after {
    clear: both;
    display: table;
    content: " ";
}

footer,
nav {
    display: block;
}

#home {
    background: url(../pictures/image/yawning_dog.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 200px; /* This is spacer before the Main title Logo.*/
    padding-bottom: 500px; /* This is spacer after the Logo*/
    color: #fff;
}

/*=============================================================
    Nav
=============================================================*/
.menu-container {
    height: 100%;
    width: 100%;
    position: absolute;
    /*  This ensures that the images cannot 
        render outside of their container
        without forcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;}

  
.menu-container { 
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu {
    max-height: 340px;
    margin: 0% auto;
    content: " ";
}

.selection li {
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9D9FA2;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    /*background-color: #052136;*/
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.selection li:hover {
    color: rgb(189, 15, 15);
    background-color: rgba(14, 7, 32, 0.3);
}

/*======================================================
    END NAV
======================================================*/
.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    color: rgb(6, 27, 136);
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: center;
    font-family: impact, sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double rgb(15, 2, 2);
    padding: 10px;
}

.head-sub p{
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

/*=========================================================
    Photo
=========================================================*/
* {
    box-sizing: border-box;
}

.row > .column {
    padding: 8px 8px;
    
}

.row_2 > .column {
    padding: 8px 8px;
}



.column {
    float: left;
    width: 33%;


}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*======================================================
    END PHOTO
======================================================*/
.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.subscribe {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgb(6, 27, 136);
    box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);
}

.form {
    font-size: 15px;
    outline: none;
    font-weight: 300;
    color: rgb(6, 27, 136);
    padding: 12px 12px;
    width: 75%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227,222,222);
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
    font-family: 'Raleway', sans-serif;
}
.subscribe input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090B0D;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090B0D;
    margin: 10px 1em;
    border-radius: 7px;
    background: #13161B;
    box-shadow: inset 0px 3px 0px 0px rgba(172, 108, 108, 0.15);
    font-family: 'Raleway', sans-serif;
}

.subscribe input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(100, 65, 0, .8);
}

.submit input[type="submit"] {
    color: rgb(225, 225, 225);
    cursor: pointer;
    border: none;
    font-weight: 500;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    font-weight: 600;
    background-color: #8D8E8F;
    box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
}